.learning-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .learning-option-button {
    padding: 0.5rem;
    border-radius: 5px;
    background: transparent;
    border: 2px solid lightblue;
    margin: 3px;
  }